body {
    background-image: url("https://www.thespruceeats.com/thmb/oJu7zUrQDdpN6IgeaD1z--_tHTo=/450x0/filters:no_upscale():max_bytes(150000):strip_icc()/besanladdoo-56a5106d3df78cf772862ba5.jpg");
    background-size: cover;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    height: 100vh;
    color: black

}

.container{
    margin: auto;
    border: 3px solid burlywood;
    border-radius: 10px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: brown;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
    color: black;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: black;
}

#save-btn {
    background: darkgreen;
}

